beautifulsoup4==4.11.1
biorefineries==2.27.0
biosteam==2.39.0
fastapi
markdownify
matplotlib
nest_asyncio
numpy
numpy_financial
openai
pydantic
pydash
pypdf
pyppeteer
python-dotenv
transitions
uvicorn
gdrive
gspread
gspread_dataframe