beautifulsoup4==4.11.1
biorefineries==2.27.0
biosteam==2.39.0
fastapi
markdownify==0.11.6
matplotlib==3.7.3
nest_asyncio
numpy
numpy_financial
openai==1.8.0
pydantic==2.5.3
pydash==7.0.6
pypdf==3.17.4
pyppeteer
python-dotenv
transitions==0.9.0
uvicorn
gdrive
gspread
gspread_dataframe